.input-search {
  position: relative;
  display: flex;
  height: 30px;
  width: 100%;
  border: 1px solid $COLOR--pale-grey-two;
  box-sizing: border-box;
  transition: border-color ease-in-out 0.15s;

  &:hover {
    border-color: $COLOR--gray-47;
  }
  &.active {
    background-color: inherit;
    border-color: $COLOR--tealish;
    box-shadow: 0 0 2px 0 rgba($COLOR--tealish, 0.7);
  }
  &.error {
    border-color: $COLOR--orange-red;
    box-shadow: 0 0 2px 0 rgba($COLOR--orange-red, 0.7);
  }
  &.disabled {
    border-color: $COLOR--gray-80;

    .icon {
      svg {
        fill: $COLOR--gray-80;
      }
    }
  }
}
.icon {
  margin: auto;
  width: 16px;
  height: 16px;
  margin-right: 5px;

  svg {
    fill: $COLOR--tealish;
  }
}
.input {
  flex-grow: 1;
  padding: 6px 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 13px;
  color: $COLOR--charcoal-grey;
  box-shadow: none;

  &::placeholder {
    color: $COLOR--silver;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
