.grid-cell {
  position: relative;
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  font-family: $FONT-REGULAR;
  font-size: 14px;
  color: $COLOR--charcoal-grey;
  line-height: 20px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
