.success-label {
  display: inline-block;
  font-family: $FONT-SEMIBOLD;
  font-size: 13px;
  line-height: 18px;
  color: $COLOR--booger;
}
.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-left: 8px;
  vertical-align: top;
}
